@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
header {
    background-color: #7c8594;
    color: #ffffff;
    padding: 8px;
    text-align: center;
    font-family: Orbitron;
}

body {
    background-image: linear-gradient(to right, #7c8594, #12253f);
}

.painel-produtos {
  width: 80%;
  max-width: 1000px;
  margin: 60px auto;
  padding: 100px;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
}

.painel-produtos h2 {
    font-family: 'Space Grotesk';
  font-size: 28px;
  color: #fff;
  text-align: start;
  margin-top: -15px;
  margin-bottom: 25px;
  position: relative;
  top: -50px;
}

.painel-produtos p {
  font-family: 'Space Grotesk';
  font-size: 18px;
  color: #fff;
  text-align: start;
  margin-bottom: 20px;
  margin-top: -15px;
  position: relative;
  top: -50px;
}

.produtos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.produtos img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 15px;
}